 @font-face {
     /*referenciado a font */
     font-family: 'RobotoMono';
     src: url('./fonts/Roboto-Thin.ttf');
 }
 
 * {
     /*aplicando para todos os elementos */
     font-family: 'RobotoMono', 'monospace';
 }
 
 body {
     display: flex;
     height: 100vh;
     /*colocando bem no topo */
     justify-content: center;
     align-items: center;
     text-align: center;
     /* texto centralizado */

     color: #fff;
     background: linear-gradient(to right, #16bffd, #cb3066); /* degrader */
 }